__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.DS_Store
.venv/
venv/
ENV/
.commit_msg

# Distribution / packaging
build/
dist/
*.egg-info/
.mypy_cache/
.ruff_cache/
.tox/

# Environment variables & secrets
.env
.env.*

# IDE & editors
.idea/
.vscode/
*.swp
*.swo
